<div class="content">
     <button ng-click="order = 'name'">Order by Name</button>
     <button ng-click="order = 'rate'">Order by Value</button>
     <input type="text" ng-model="search" placeholder="Search for a ticket" />
       <ul>
         <li ng-repeat="ticket in tickets | orderBy: order | filter: search" ng-show="ticket.avaliable" style="height: 150px;margin-bottom: 10px;">
           <img ng-src="{{ticket.thumb}}" style="margin: 0px 10px 0 0; float: left; width: 140px;height: 100px;border-radius: 20px;" ng-show="ticket.thumb" />
           <h3 style="padding-top: 10px;color: #ffbb03;;font-style: bold;">{{ticket.name}} - {{ticket.rate | currency: '$'}}</h3>
           <div class="remove" ng-click="removeTicket(ticket)">x</div>
           <span class="belt" style="background: {{ticket.belt}};">{{ticket.belt}}   ticket</span>
         </li>
       </ul>
     
     <form ng-submit="addTicket()"> 
       <input type="text" placeholder="name" ng-model="newticket.name" />
       <input type="text" placeholder="belt" ng-model="newticket.belt" />
       <input type="text" placeholder="rate" ng-model="newticket.rate" />
       <input type="submit" value="Add new Ticket" />
     </form>
   </div>